<%- include("partials/header") -%>

<header>
  <h1>What's Your Raashi?</h1>
</header>
<form class="form" action="/" method="post">
  <input type="text" name="nameOfPerson" value="" name="nameOfPerson" placeholder="Enter your name" autocomplete="off">
  <input type="date" name="dateOfBirth" value="">
  <select name="day" id="cars" placholder="Select Day">
    <option value="Today">Today</option>
    <option calue="Tomorrow">Tomorrow</option>
  </select>
  <button class="btn btn-warning" type="submit">submit</button>
</form>

<%- include("partials/footer") -%>
